[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "themes/powerlevel9k"]
	path = themes/powerlevel9k
	url = git@github.com:Powerlevel9k/powerlevel9k.git
[submodule "git-tools"]
	path = git-tools
	url = git@github.com:jonmak08/git-tools.git
[submodule "themes/fonts"]
	path = themes/fonts
	url = git@github.com:powerline/fonts.git
[submodule "themes/dracula-theme"]
	path = themes/dracula-theme
	url = git@github.com:dracula/dracula-theme.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
