[submodule "oh-my-zsh/.oh-my-zsh"]
	path = oh-my-zsh/.oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "themes/alfred"]
	path = themes/alfred
	url = git@github.com:dracula/alfred.git
[submodule "themes/iterm"]
	path = themes/iterm
	url = git@github.com:dracula/iterm.git
